<header class="l-header is-bg is-scroll">
    <div class="l-header__inner">
        <div class="l-header__logo">
            


<a href="/global/en"><img src="/assets3/images/header_logo.svg" alt="NTT DATA"></a>
        </div>
         <nav class="l-header__subnav">
    <ul>
                <li>
                    <a href="/global/en/media/media-archive?category=Press-Release">News</a>
                </li>
                <li>
                    <a href="/global/en/media/media-archive?category=Events">Events</a>
                </li>
                <li>
                    <a href="/global/en/contact-us">Contact Us</a>
                </li>
        <li class="l-header__ico-search" tabindex="0"><img src="/assets3/images/icon/white/search.svg" alt="Search"></li>
    </ul>
</nav>
        <div class="l-header__country">
<a href="/global/en/country-selector" target="">Global<span>Select a Country</span></a></div>
        
<nav class="l-header__nav">
    <ul>
            <li class="">
                <a href="/global/en/about-us">About Us</a>
            </li>
            <li class="is-no-menu">
                <a href="/global/en/sustainability">Sustainability</a>
            </li>
            <li class="">
                <a href="/global/en/investors">Investors</a>
            </li>
            <li class="">
                <a href="/global/en/careers">Careers</a>
            </li>
            <li class="">
                <a href="/global/en/foresight">Foresight</a>
            </li>
            <li class="is-no-menu">
                <a href="/global/en/digital">Digital</a>
            </li>
    </ul>
</nav>
        <div class="l-header__ico-menu"><span></span></div>
    </div>
    <div class="l-header__menu">
        <nav class="l-header__menu-nav">
    <ul>
            <li>
<a href="/global/en/about-us">About Us</a>                        <ul>
                            <li class="u-tab"><a href="/global/en/about-us">About Us</a></li>
                                    <li>
<a href="/global/en/about-us/ntt-data-history">History</a>
                                            </li>
                    <li>
<a href="/global/en/about-us/our-way">Our Way</a>
                                            </li>
                    <li>
<a href="/global/en/about-us/mid-term-management-plan">Mid-term Management Plan</a>
                                            </li>
                    <li>
<a href="/global/en/covid19">Envisioning a new “future”</a>
                                            </li>
                    <li>
<a href="/global/en/clients-cases">Clients Cases</a>
                                            </li>
                    <li>
<a href="/global/en/about-us/focus">NTT DATA Focus</a>
                                            </li>
                                    </ul>
            </li>
            <li>
<a href="/global/en/sustainability">Sustainability</a>                                            </li>
            <li>
<a href="/global/en/investors">Investors</a>                        <ul>
                            <li class="u-tab"><a href="/global/en/investors">Investors</a></li>
                                    <li>
<a href="/global/en/investors/financials">Financials</a>
                                            </li>
                    <li>
<a href="/global/en/investors/financial-charts">Financial Charts</a>
                                            </li>
                    <li>
<a href="/global/en/investors/stock-information">Stock Information</a>
                                            </li>
                    <li>
<a href="/global/en/investors/corporate-governance">Corporate Governance</a>
                                            </li>
                    <li>
<a href="/global/en/investors/news-and-ir-calendar">News and IR Calendar</a>
                                            </li>
                                    </ul>
            </li>
            <li>
<a href="/global/en/careers">Careers</a>                        <ul>
                            <li class="u-tab"><a href="/global/en/careers">Careers</a></li>
                                    <li>
<a href="/global/en/careers/why-ntt-data">Why NTT DATA</a>
                                            </li>
                    <li>
<a href="/global/en/careers/meet-ntt-data-people">Meet NTT DATA People</a>
                                            </li>
                    <li>
<a href="/global/en/careers/find-initiatives">Find Initiatives</a>
                                            </li>
                    <li>
<a href="/global/en/careers?category=see-job">View Job Openings</a>
                                            </li>
                                    </ul>
            </li>
            <li>
<a href="/global/en/foresight">Foresight</a>                        <ul>
                            <li class="u-tab"><a href="/global/en/foresight">Foresight</a></li>
                                    <li>
<a href="/global/en/foresight/trend-listing">NTT DATA Technology Foresight</a>
                                            </li>
                    <li>
<a href="/global/en/foresight/academic-collaborations">Academic Collaborations</a>
                                            </li>
                    <li>
<a href="/global/en/foresight/foresight-stories">Foresight Stories</a>
                                            </li>
                                    </ul>
            </li>
            <li>
<a href="/global/en/digital">Digital</a>                                            </li>
    </ul>
</nav>
    <nav class="l-header__menu-subnav">
        <ul>
                <li>
                    <a href="/global/en/media/media-archive?category=Press-Release">News</a>
                </li>
                <li>
                    <a href="/global/en/media/media-archive?category=Events">Events</a>
                </li>
                <li>
                    <a href="/global/en/contact-us">Contact Us</a>
                </li>
        </ul>
    </nav>
    <div class="l-header__menu-country">
<a href="/global/en/country-selector" target="">Global<span>Select a Country</span></a></div>

    </div>
    <div class="l-header__search">
        

<div class="l-header__search__inner">
    <div class="l-header__search-form">
        <div class="l-header__search-form__ico-search"><img src="/assets3/images/icon/white/search.svg" alt=""></div>
        <form action="/global/en/search-result" method="get">
            <input type="text" class="l-header__search-form__input" name="query" placeholder="Type to search.">
            <button type="submit" class="l-header__search-form__button"><img src="/assets3/images/icon/white/arrow_right.svg" alt=""></button>
        </form>
    </div>
</div>
    </div>
</header>